<!DOCTYPE html>
<html>
<head>
  <title>Graphless</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  
  <div id="header">
  	<div class="container">
  		<a href="/" id="logo"></a>
  		<ul id="navigation">
  			<li> <a href="/"> Home </a> </li>
  			<!-- <li> <a href="#"> Apps </a> </li>
  			<li> <a href="#"> Profile </a> </li> -->
  		</ul>
      <a href="/login" id="user-button">Log In</a>
  	</div>
  </div>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
