<!DOCTYPE html>
<html>
<head>
  <title>Graphless</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  
  <div id="header">
  	<div class="container">
  		<a href="/" id="logo"></a>
  		<ul id="navigation">
  			<li> <a href="#"> Home </a> </li>
  			<li> <a href="#"> Apps </a> </li>
  			<li> <a href="#"> Profile </a> </li>
  		</ul>
      <a href="/login" id="user-button">Log In</a>
  	</div>
  </div>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
